:root {
  --codeplot-Icon-stroke: var(--codeplot-surface3-color);
  --codeplot-Icon-fill: var(--codeplot-surface2-color);
}

.codeplot-Icon {
  stroke: var(--codeplot-Icon-stroke);
  fill: var(--codeplot-Icon-fill);
}
