/* Adjust font size based on the number of columns */
div[data-testid="react-katex"] {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;

  container-type: inline-size;
}

span.katex-display > * {
  font-size: 8cqw;
}
span.katex-display {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
